@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/login.css" />
}
<div id="logreg-forms">
    <form asp-action="Login" method="post" class="form-signin">
        <br />
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Login</h1>
        <br />
        @{
            if (Model?.LoginFailed == true)
            {
                <div class="text-danger">Login Failed!</div>
            }
        }
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Username" type="text" id="inputUsername" class="form-control" placeholder="Username" autofocus="">
        <span asp-validation-for="Username" class="text-danger"></span>
        <br />
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <div class="text-center">
            <a asp-action="Register" id="btn-signup">Not Registered Yet?</a>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Log in</button>
        </div>
        <br />
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}